{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set fullPageForm = true %}
{% set title = "Gone"|t %}
{% set object = craft.gone.getById(id) %}

{% block saveButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                {% if object is defined %}
                    <li>
                    	<a class="formsubmit error" data-action="gone/deleteRedirect" data-confirm="{{ "Are you sure you want to delete this redirect?"|t }}" data-redirect="gone/index">
                    		{{ 'Delete'|t }}
                    	</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% set content %}
	    
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="gone/saveRedirect">
    <input type="hidden" name="redirect" value="gone">
    {% if id is defined %}<input type="hidden" name="id" value="{{ id }}">{% endif %}
	
	{{ forms.selectField({
	    label: 'Type'|t,
	    id: 'elementTypeOriginal',
	    name: 'elementTypeOriginal',
	    value: object is defined ? object.elementTypeOriginal : null,
	    required: true,
		options: [
		    {
			    label: 'Entry',
			    value: 'Entry'
		    },
		    {
			    label: 'Category',   
			    value: 'Category'
		    },
		    {
			    label: 'Product',   
			    value: 'Product'
		    }
		]
	}) }}
	
    
	{{ forms.textField({
		label: "Title"|t,
		id: 'elementTitle',
		name: 'elementTitle',
		value: object is defined ? object.elementTitle : null,
		required: true
	}) }}
	
	{{ forms.textField({
		label: "Slug"|t,
		id: 'elementSlug',
		name: 'elementSlug',
		value: object is defined ? object.elementSlug : null,
		required: true,
		readonly: true
	}) }}
	
	{{ forms.textField({
		label: "URI"|t,
		id: 'elementUri',
		name: 'elementUri',
		value: object is defined ? object.elementUri : null,
		required: true,
		readonly: true
	}) }}
	
	{{ forms.selectField({
	    label: 'Redirect Type'|t,
	    id: 'redirectType',
	    name: 'redirectType',
	    value: object is defined ? object.redirectType : null,
	    required: true,
		options: [
		    {
			    label: '301 - Permanent',   
			    value: '301'
		    },
		    {
			    label: '302 - Temporary',   
			    value: '302'
		    },
		    {
			    label: '404 - Not Found',   
			    value: '404'
		    },
		    {
			    label: '410 - Removed',   
			    value: '410'
		    }
		]
	}) }}
	
	<!-- Change elementId field to a different name -->
	
    {{ forms.elementSelectField({
        label: 'Redirect To'|t,
        id: 'elementId',
        name: 'elementId',
        elementType: craft.elements.getElementType("Entry"),
        elements: [],
        limit: 1,
        addButtonLabel: 'Select an Entry'|t
    }) }}

{% endset %}